.sidebar{
  position:fixed;
  left: 0;
  bottom: 0;
  top:55px;
  width:75px;
  background-color: white;
  border-right: 0.0000001px;
  border-right-style: solid;
  border-right-color: rgb(245, 245, 245);
}
.sidebar-div{
  height: 76px; 
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  cursor: pointer;
  transition: background-color 0.15s;
}
.sidebar-div:hover {
  background-color: rgb(235, 235, 235);
}
.sidebar-div:active{
  background-color:rgb(219, 219, 219);
}
.sidebar img{
  height:24px;
}
.sidebar-div div{
  font-family: Roboto,Arial;
  font-size: 10px;
}
